<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
  <meta charset="UTF-8" >
  <title>录入</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  <!-- 引入bootstrap-table样式 -->
  <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">

  <!-- jquery及bootstrapjs -->
  <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- bootstrap-table.min.js -->
  <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

  <!-- 引入中文语言包 -->
  <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
  <!-- 编辑框 -->
  <script src="https://cdn.bootcss.com/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>
</head>
<body>
<div class="table-box" style="margin: 20px;">
  <div id="toolbar">
    <button id="button" class="btn btn-default">insertRow</button>
    <button id="getTableData" class="btn btn-default">getTableData</button>
  </div>
  <table id="table"></table>

</div>


</body>
<script type="text/javascript" th:inline="javascript">
  var t = $('#table');
  t.innerHTML = "<tr><td>数据</td></tr>";
  var rows = [[${rows}]];
  var i=3;
  $(function() {
    var $table = $('#table');
    var $button = $('#button');
    var $getTableData = $('#getTableData');

    $button.click(function() {
      $table.bootstrapTable('append', {

      });

    });

    $table.bootstrapTable({
      url: '/demoView/getList2',
      toolbar: '#toolbar',
      method: 'post',
      clickEdit: true,
      showToggle: true,
      pagination: true,       //显示分页条
      showColumns: true,
      showPaginationSwitch: true,     //显示切换分页按钮
      showRefresh: true,      //显示刷新按钮
      //clickToSelect: true,  //点击row选中radio或CheckBox
      columns: rows,
      /**
       * @param {点击列的 field 名称} field
       * @param {点击列的 value 值} value
       * @param {点击列的整行数据} row
       * @param {td 元素} $element
       */
      onClickCell: function(field, value, row, $element) {
        $element.attr('contenteditable', true);
        $element.blur(function() {
          var index = $element.parent().data('index');
          var tdValue = $element.html();

          saveData(index, field, tdValue);
        })
      }
    });


  $getTableData.click(function() {
      alert(JSON.stringify($table.bootstrapTable('getData')));
    });

    function saveData(index, field, value) {
      $table.bootstrapTable('updateCell', {
        index: index,       //行索引
        field: field,       //列名
        value: value        //cell值
      })
    }

  });


</script>
</html>