<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>larger5</title>
  <!-- 新 Bootstrap4 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

  <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
  <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>

  <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
  <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>
<!-- 新 Bootstrap4 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

<body>

  <form style="margin-left:500px;margin-top:200px;">
    <div class="form-group">
      <label for="name" stype="display:inline;">名字：</label>
      <input type="text" value="陈岳军" class="form-control" id="name" style="display:inline;width:200px;" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="smoking" style="display:inline;">抽烟状况（二手，不抽，抽）：</label>
      <input type="text" value="二手"  class="form-control" id="smoking" style="display:inline;width:200px;" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="eat" stype="display:inline;">吃什么（米饭，炒面，蛋炒饭）：</label>
      <input type="text" value="炒面" class="form-control" id="eat" style="display:inline;width:200px;" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="phone" stype="display:inline;">是否玩手机（是，否）：</label>
      <input type="text" value="是" class="form-control" id="phone" style="display:inline;width:200px;" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="week" stype="display:inline;">星期几(1234567)：</label>
      <input type="text" value="1" class="form-control" id="week" style="display:inline;width:200px;" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="bt" stype="display:inline;">白天还是晚上（白天，晚上）：</label>
      <input type="text" value="白天" class="form-control" id="bt" style="display:inline;width:200px;" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="notIn" stype="display:inline;">谁不在（名字）：</label>
      <input type="text" value="孙灿杰" class="form-control" id="notIn" style="display:inline;width:200px;" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="rent" stype="display:inline;">台版是否大于450（是，否）：</label>
      <input type="text" value="是" class="form-control" id="rent" style="display:inline;width:200px;" autocomplete="off" />
    </div>

    <div class="form-group">
      <label for="girlfriend" stype="display:inline;">女朋友状态（无，好，一般，不好）：</label>
      <input type="text"  value="一般"  class="form-control" id="girlfriend" style="display:inline;width:200px;" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="health" stype="display:inline;">身体健康状态（好，一般，不好）：</label>
      <input type="text"  value="好"  class="form-control" id="health" style="display:inline;width:200px;" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="no" stype="display:inline;">棋牌室编号：</label>
      <input type="text" value="19" class="form-control" id="no" style="display:inline;width:200px;" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="win" stype="display:inline;">麻将输赢（输，赢）：</label>
      <input type="text"   class="form-control" id="win" style="display:inline;width:200px;" autocomplete="off" />
    </div>

    <button type="submit" class="btn btn-primary" onclick="register()">进行预测</button>

    <button type="submit" class="btn btn-primary" onclick="insert()">数据入库</button>
  </form>




<script>

  function insert() {
    var name = $('#name').val();
    var smoking = $('#smoking').val();
    var eat = $('#eat').val();
    var phone = $('#phone').val();
    var week = $('#week').val();
    var bt = $('#bt').val();
    var notIn = $('#notIn').val();
    var rent = $('#rent').val();
    var girlfriend = $('#girlfriend').val();
    var health = $('#health').val();
    var win = $('#win').val();
    var no = $('#no').val();

    //JavaScript原生写法
    //var user = document.getElementById('user').value;
    //var password = document.getElementById('password').value;
    var train={
      "name": name,
      "smoking": smoking,
      "eat": eat,
      "phone": phone,
      "week": week,
      "bt": bt,
      "notIn": notIn,
      "rent": rent,
      "girlfriend": girlfriend,
      "health": health,
      "win": win,
      "no":no
    }

    $.ajax({
      type: "post",  //post put get 等等
      url: "/mj/insertTrainData",
      //编写注册功能时，要将异步设置为false（缺省为true）
      //如果async是ture,对于FireFox浏览器，会刷新掉alert()弹出框的内容
      //对于Chrome浏览器，第一次注册时会执行error的回调函数，输出“请求在连接过程中出现错误..”
      async:false,
      contentType:"application/json",
      dataType: "json",
      data: JSON.stringify(train),
      success: function (data, textStatus) {
        //连接至ashx文件成功时，执行函数
        //data是从ashx文件返回来的信息，可以是字符串也可以是一个对象
        //如果data是字符串，则可以输出data的值
        //如果data是对象，则可以将这个对象的各属性值赋给其他变量
        //textStatus是表示状态的字符串，这里textStatus的值是"success"
        alert(textStatus);
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {  //连接至ashx文件失败时，执行函数
        //XMLHttpRequest在这个例子里没有用到
        //textStatus是表示状态的字符串，这里textStatus的值是"error"
        //errorThrown包含连接失败的信息，可以输出查看
        alert("请求在连接过程中出现错误..\n" + errorThrown);
      }
    });
  }



  function register() {
    //jQuery写法
    var name = $('#name').val();
    var smoking = $('#smoking').val();
    var eat = $('#eat').val();
    var phone = $('#phone').val();
    var week = $('#week').val();
    var bt = $('#bt').val();
    var notIn = $('#notIn').val();
    var rent = $('#rent').val();
    var girlfriend = $('#girlfriend').val();
    var health = $('#health').val();
    var win = $('#win').val();
    var no = $('#no').val();

    //JavaScript原生写法
    //var user = document.getElementById('user').value;
    //var password = document.getElementById('password').value;
    var train={
      "name": name,
      "smoking": smoking,
      "eat": eat,
      "phone": phone,
      "week": week,
      "bt": bt,
      "notIn": notIn,
      "rent": rent,
      "girlfriend": girlfriend,
      "health": health,
      "win": win,
      "no":no
    }
    $.ajax({
      type: "post",  //post put get 等等
      url: "/mj/trainData",
      //编写注册功能时，要将异步设置为false（缺省为true）
      //如果async是ture,对于FireFox浏览器，会刷新掉alert()弹出框的内容
      //对于Chrome浏览器，第一次注册时会执行error的回调函数，输出“请求在连接过程中出现错误..”
      async:false,
      contentType:"application/json",
      dataType: "json",
      data: JSON.stringify(train),
      success: function (data, textStatus) {
        //连接至ashx文件成功时，执行函数
        //data是从ashx文件返回来的信息，可以是字符串也可以是一个对象
        //如果data是字符串，则可以输出data的值
        //如果data是对象，则可以将这个对象的各属性值赋给其他变量
        //textStatus是表示状态的字符串，这里textStatus的值是"success"
        alert(data.msg);
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {  //连接至ashx文件失败时，执行函数
        //XMLHttpRequest在这个例子里没有用到
        //textStatus是表示状态的字符串，这里textStatus的值是"error"
        //errorThrown包含连接失败的信息，可以输出查看
        alert("请求在连接过程中出现错误..\n" + errorThrown);
      }
    });
  }
</script>
</body>

</html>
